---
- name: lpar2rrd agent
  hosts: powertest
  become: true
  user: root

  tasks:    
    - name: create lpar2rrd user
      user:
       state: present
       name: lpar2rrd
       comment: "Lpar2rrd user"
       shell: '/usr/bin/ksh'

    - name: copy lpar2rrd agent rpm
      copy:
       src: /etc/ansible/lpar2rrd-agent-5.05-8.ppc.rpm
       dest: /tmp
       owner: root
       group: system
       mode: 0777

    - name: install rpm
      shell: 'rpm -Uvh --ignoreos /tmp/lpar2rrd-agent-5.05-8.ppc.rpm'

    - name: edit crontab
      cron:
        name: "start lpar2rrd"
        user: lpar2rrd
        job: "/usr/bin/perl /opt/lpar2rrd-agent/lpar2rrd-agent.pl 172.250.1.109 > /var/tmp/lpar2rrd-agent.out 2>&1"

